*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.task{
    background-color: brown;
    height: 400px;
    margin: 25%;
    padding: 4rem;
}
